// Microsoft Visual C++ generated resource script.
//
#include "projectResources.h"

/////////////////////////////////////////////////////////////////////////////
//
// SHADERS
//

BASIC_SHADER            SHADER                  "res\\shaders\\main.shader"


/////////////////////////////////////////////////////////////////////////////
//
// TEXTURES
//

SAMPLE_TEXTURE          TEXTURE                  "res\\textures\\wall.jpg"