// Microsoft Visual C++ generated resource script.
//
#include "projectResources.h"

/////////////////////////////////////////////////////////////////////////////
//
// SHADERS
//

BASIC_SHADER            SHADER                  "res\\shaders\\main.shader"


/////////////////////////////////////////////////////////////////////////////
//
// TEXTURES
//

BACKGROUND				TEXTURE					 "res\\textures\\bg.jpg"
PADDLE					TEXTURE					 "res\\textures\\paddle.png"
BRICK					TEXTURE					 "res\\textures\\brick.jpg"