// Microsoft Visual C++ generated resource script.
//
#include "projectResources.h"

/////////////////////////////////////////////////////////////////////////////
//
// SHADERS
//

BASIC_SHADER            SHADER                  "res\\shaders\\main.shader"


/////////////////////////////////////////////////////////////////////////////
//
// TEXTURES
//

MAIN_MENU_BG			TEXTURE					 "res\\textures\\main_menu_bg.jpg"
LEVEL1_BG				TEXTURE					 "res\\textures\\level1_bg.jpg"
PADDLE					TEXTURE					 "res\\textures\\paddle.png"
BRICK					TEXTURE					 "res\\textures\\brick.jpg"
BALL					TEXTURE					 "res\\textures\\ball.png"

/////////////////////////////////////////////////////////////////////////////
//
// LEVELS
//

LEVEL_1					LEVEL					 "res\\levels\\first.lvl"